@charset "utf-8";
/*css document*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Noto+Serif+TC:wght@400;500;600;700&family=Outfit:wght@200;300;400&family=Playfair+Display:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: #E4DDD3;
}


/*header*/
header{
    position: relative;
}

.banner{
    height: 832px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3E332F;
    opacity: 0;
}

#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent !important;
    padding-top: 1rem;
    transition: 0.5s ease;
    z-index: 100000;
}

.container-fluid{
    padding-right: calc(var(--bs-gutter-x) * 2);
    padding-left: calc(var(--bs-gutter-x) * 2);
}

.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: transparent;
}

.nav-link{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    letter-spacing: 4px;
}

#navbarNav{
    justify-content: flex-end;
}

.navbar-nav a{
    color: #fffefb;
}

.nav-item{
    margin-left: 3.5rem; 
}




/*section*/
section{
    padding: 10rem 0rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

section .left{
    padding: 0rem 2rem 0rem 0rem;
    position: relative;
    width: 24rem;
    height: 30rem;
    flex: 1;
}

.style_square_01{
    width: 370px;
    height: 463px;
    border: 2px solid #FFFEFB;
    position: absolute;
    top: 18px;
}

section .left img{
    width: 370px;
    height: 463px;
    overflow: hidden;
    position: absolute;
    left: 17px;
    z-index: 10000;
}

section .right{
    flex: 1;
}


section h3{
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    color: #020200;
}

section p{
    font-size: 1.25rem;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 200%;
    padding-bottom: 3rem;
    letter-spacing: 0.5px;
    color: #020200;
}


/*quote part*/
.quote{
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    color: #020200;
    text-align: center;
    padding: 10rem 0rem;
}

blockquote {
	font-family: 'Noto Serif TC', serif;
    font-weight: 500;
	font-size: 2.5rem;
	max-width: 800px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	font-family: 'Playfair Display', serif;
    position: absolute;
	color: #C5875B;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}



/*article*/
a {color:inherit;text-decoration:none;}
article{
  overflow:hidden;
  height: 100%;
  color:#FFFEFB;
  padding: 15rem 0rem 20rem 0rem;
}

#wrap{
  width:150%;
  height:100%;
  display:flex;
  align-items:stretch;
  margin:0 25%;
}
.hb {
  position:relative;
  width:25%;
  z-index:1;
  display:flex;
  align-items:center;
  z-index:2;
  transform:scale(.97);
}
.c{
  position:relative;
  display:block;
  max-width:90%;
}
.c img {
  position:relative;
  display:block;
  width:100%;
  height:auto;
  z-index:2;
}
.txt {
  position:absolute;
  top:100%; left:10%;
  width:80%;
  opacity:0;
  padding:1em 0 0 1em;
  border-left:1px solid;
  z-index:1;
  transform:scaleY(1) translateY(-50px);
  transition:transform .2s, opacity .5s;
}
h1 {
    font-size:2rem;
    font-weight:600;
    font-family: Outfit;
}

p{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
}
.hb:hover .txt {
    opacity:1;
    transform:scaleY(1) translateY(0);
}

.fullBg {
    position:fixed;top:0;left:0;width:100%;height:100%;
    opacity:0;
    transition:transform .5s, opacity .5s;
    transform:scale(1);
    z-index:1;
}
.fullBg img {
    width:100%;height:100%;
    object-fit:cover;object-position:center;
    opacity:.5;
}
.hb:hover + .fullBg {opacity:1;transform:scale(1.02);}





/*small devices*/
@media only screen and (max-width: 767.99px){
    section{
        flex-direction: column;
    }
}

